# Developer tools' files
.lite_workspace.lua
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode

# Neutralinojs binaries and builds
.tmp
/bin
/dist

# Neutralinojs related files
.storage
*.log

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frontend
node_modules
dist
dist-ssr
*.local
