/* ./src/css/theme.css */
/* 浅色模式变量 */
:root {
  --primary-color: #0078d4;
  --primary-light: #e3f2fd;
  --primary-dark: #005a9e;

  --background-color: rgba(255, 255, 255);
  --sidebar-bg: rgb(248, 249, 250);
  --topbar-bg: rgb(241, 245, 249);

  --card-bg: rgb(255, 255, 255);
  --card-hover: rgb(244, 244, 244);

  --text-primary: #333;

  --btn-bg: #0000000d;
  --btn-hover-bg: #0000001a;

  --hover-color: rgb(233, 236, 239);

  --border: #ccc;

  --snow-color: white;
  --snow-shadow: 0 0 20px white;

  --shadow-light: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.12);
}

/* 深色模式变量 */
:root[dark-mode] {
  --primary-color: #20a6ff;
  --primary-light: #4cc9f026;
  --primary-dark: #5daafd;

  --background-color: rgb(50, 50, 64);
  --sidebar-bg: rgb(50, 50, 64);
  --topbar-bg: rgb(45, 45, 61);

  --card-bg: rgba(255, 255, 255, 0.047);
  --card-hover: rgba(255, 255, 255, 0.098);

  --text-primary: #b0b0b0;

  --btn-bg: #ffffff0d;
  --btn-hover-bg: #ffffff1a;

  --hover-color: #4cc4f00a;

  --border: #555;

  --snow-color: white;
  --snow-shadow: 0 0 20px white;

  --shadow-light: 0 2px 5px rgba(0, 0, 0, 0.3);
  --shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.4);
}

:root[glass-mode="light"] {
  --background-color: rgba(255, 255, 255, 0.9);
  --sidebar-bg: rgb(248, 249, 250, 0.2);
  --topbar-bg: rgb(241, 245, 249, 0.2);

  --card-bg: rgb(255, 255, 255, 0.2);
  --card-hover: rgb(244, 244, 244, 0.2);
}

:root[glass-mode="dark"] {
  --background-color: rgb(50, 50, 64, 0.95);
  --sidebar-bg: rgb(50, 50, 64, 0.2);
  --topbar-bg: rgb(45, 45, 61, 0.2);
}

:root[img-mode="light"] {
  --primary-light: rgb(227, 242, 253, 0.5);

  --background-color-container: rgb(50, 50, 64, 0.1);
  --sidebar-bg: rgb(248, 249, 250, 0.4);
  --topbar-bg: rgb(241, 245, 249, 0.4);

  --hover-color: rgb(233, 236, 239, 0.4);

  --card-bg: rgb(255, 255, 255, 0.7);
  --card-hover: rgb(244, 244, 244, 0.6);

  --btn-bg: rgba(107, 107, 107, 0.2);
  --btn-hover-bg: rgba(92, 92, 92, 0.4);

  --border: rgb(204, 204, 204, 0.5);
}
:root[img-mode="dark"] {
  --background-color-container: rgb(50, 50, 64, 0.1);
  --sidebar-bg: rgb(50, 50, 64, 0.55);
  --topbar-bg: rgb(45, 45, 61, 0.5);

  --card-bg: rgba(45, 45, 61, 0.8);
  --card-hover: rgba(45, 45, 61, 0.7);

  --btn-bg: rgba(45, 45, 61, 0.5);
  --btn-hover-bg: rgba(92, 92, 92, 0.4);

  --border: rgb(85, 85, 85, 0.5);
}